body {
    background-color: #efd510 !important;
    font-family: "Roboto", sans-serif;
    color: white;
    font-weight: 400;
    margin-top: 50px;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  /* Navbar */
  /*header
  --------------------------------------------- 
  */
  
  .background-header {
    background-color: #2d4059 !important;
    height: 80px !important;
    position: fixed !important;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  }
  
  .background-header .logo,
  .background-header .main-nav .nav li a {
    
    color: white!important;
  }
  
  .background-header .main-nav .nav > li:hover > a {
    color: #efd510 !important;
  }
  
  .background-header .main-nav .nav > li:hover > a.nav-main-button {
    color: #000 !important;
  }
  
  .background-header .main-nav .nav > li > ul > li:hover > a {
    color: #efd510 !important;
  }
  
  .background-header .nav li a.active {
    color: #efd510 !important;
  }
  
  .header-area {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 100px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  
  .header-area .main-nav {
    min-height: 80px;
    background: transparent;
  }
  
  .header-area .main-nav .logo {
    line-height: 80px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    float: left;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .header-area .main-nav .nav {
    float: right;
    margin-top: 27px;
    margin-left: 20px;
    margin-right: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 999;
  }
  
  .header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .header-area .main-nav .nav li:last-child {
    padding-right: 0px;
  }
  
  .header-area .main-nav .nav li a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    height: 40px;
    line-height: 40px;
    border: transparent;
    letter-spacing: 1px;
  }
  
  .header-area .main-nav .nav li:hover a {
    color: #efd510;
  }
  
  .header-area .main-nav .nav li.submenu {
    position: relative;
    padding-right: 35px;
  }
  
  .header-area .main-nav .nav li.submenu:after {
    font-family: FontAwesome;
    content: "\f107";
    font-size: 12px;
    color: #3b566e;
    position: absolute;
    right: 18px;
    top: 12px;
  }
  
  .header-area.background-header .main-nav .nav li.submenu:after {
    color: #000;
  }
  
  .header-area .main-nav .nav li.submenu ul {
    position: absolute;
    width: 200px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
    overflow: hidden;
    top: 40px;
    opacity: 0;
    transform: translateY(-2em);
    visibility: hidden;
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
      z-index 0s linear 0.01s;
  }
  
  .header-area .main-nav .nav li.submenu ul li {
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .header-area .main-nav .nav li.submenu ul li a {
    display: block;
    background: #fff;
    color: #3b566e;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    font-size: 13px;
    border-bottom: 1px solid #f5f5f5;
  }
  
  .header-area .main-nav .nav li a i.icon-download img{
    margin-right: 5px;
   height: 15px;
    weight: 15px
  }
  
  .header-area .main-nav .nav li.submenu ul li a:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 40px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background: #f55858;
  }
  
  .header-area .main-nav .nav li.submenu ul li a:hover {
    background: #fff;
    color: #f55858;
    padding-left: 25px;
  }
  
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 3px;
  }
  
  .header-area .main-nav .nav li.submenu:hover ul {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  
  .header-area .main-nav .menu-trigger {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 23px;
    width: 32px;
    height: 40px;
    text-indent: -9999em;
    z-index: 99;
    right: 40px;
    display: none;
  }
  
  .header-area .main-nav .menu-trigger span,
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
  }
  
  .background-header .main-nav .menu-trigger span,
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: #fff;
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    width: 100%;
  }
  
  .background-header .main-nav .menu-trigger span:before,
  .background-header .main-nav .menu-trigger span:after {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger span:before,
  .header-area .main-nav .menu-trigger span:after {
    content: "";
  }
  
  .header-area .main-nav .menu-trigger span {
    top: 16px;
  }
  
  .header-area .main-nav .menu-trigger span:before {
    -moz-transform-origin: 33% 100%;
    -ms-transform-origin: 33% 100%;
    -webkit-transform-origin: 33% 100%;
    transform-origin: 33% 100%;
    top: -10px;
    z-index: 10;
  }
  
  .header-area .main-nav .menu-trigger span:after {
    -moz-transform-origin: 33% 0;
    -ms-transform-origin: 33% 0;
    -webkit-transform-origin: 33% 0;
    transform-origin: 33% 0;
    top: 10px;
  }
  
  .header-area .main-nav .menu-trigger.active span,
  .header-area .main-nav .menu-trigger.active span:before,
  .header-area .main-nav .menu-trigger.active span:after {
    background-color: transparent;
    width: 100%;
  }
  
  .header-area .main-nav .menu-trigger.active span:before {
    -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
    -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
    -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
    transform: translateY(6px) translateX(1px) rotate(45deg);
    background-color: #fff;
  }
  
  .background-header .main-nav .menu-trigger.active span:before {
    background-color: #1e1e1e;
  }
  
  .header-area .main-nav .menu-trigger.active span:after {
    -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
    transform: translateY(-6px) translateX(1px) rotate(-45deg);
    background-color: #fff;
  }
  
  .background-header .main-nav .menu-trigger.active span:after {
    background-color: #1e1e1e;
  }
  
  
  .header-area.header-sticky {
    min-height: 80px;
  }
  
  .header-area.header-sticky .nav {
    margin-top: 20px !important;
  }
  
  .header-area.header-sticky .nav li a.active {
    color: #efd510;
  }
  .header-area.header-sticky .nav li a.nav-main-button.active {
    color: white;
  }
  
  .header-area.header-sticky .nav li a.nav-main-button{
    font-size: 13px;
    border-radius: 20px;
    padding: 0px 20px;
    background-color: #ea5455;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.25px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .header-area.header-sticky .nav li:hover a.nav-main-button{
    background-color:#efd510;
    color: #000;
  }
  
  @media (max-width: 1200px) {
    .header-area .main-nav .nav li {
      padding-left: 12px;
      padding-right: 12px;
    }
    .header-area .main-nav:before {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    .header-area {
      padding: 0px 15px;
      height: 80px;
      box-shadow: none;
      text-align: center;
    }
    .header-area .container {
      padding: 0px;
    }
    .header-area .logo {
      margin-left: 30px;
    }
    .header-area .menu-trigger {
      display: block !important;
    }
    .header-area .main-nav {
      overflow: hidden;
    }
    .header-area .main-nav .nav {
      float: none;
      width: 100%;
      margin-top: 80px !important;
      display: none;
      -webkit-transition: all 0s ease 0s;
      -moz-transition: all 0s ease 0s;
      -o-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
      margin-left: 0px;
    }
    .header-area .main-nav .nav li:first-child {
      border-top: 1px solid #eee;
    }
    .header-area .main-nav .nav li {
      width: 100%;
      background: #fff;
      border-bottom: 1px solid #eee;
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
    .header-area .main-nav .nav li a {
      height: 50px !important;
      line-height: 50px !important;
      padding: 0px !important;
      border: none !important;
      background: #fff !important;
      color: #3b566e !important;
    }
    .header-area .main-nav .nav li a:hover {
      background: #eee !important;
    }
    .header-area .main-nav .nav > li > a:hover,
    .header-area .main-nav .nav .submenu > ul > li > a:hover {
      color: #f55858;
    }
    .header-area .main-nav .nav li.submenu ul {
      position: relative;
      visibility: inherit;
      opacity: 1;
      z-index: 1;
      transform: translateY(0%);
      transition-delay: 0s, 0s, 0.3s;
      top: 0px;
      width: 100%;
      box-shadow: none;
      height: 0px;
    }
    .header-area .main-nav .nav li.submenu ul li a {
      font-size: 12px;
      font-weight: 400;
    }
    .header-area .main-nav .nav li.submenu ul li a:hover:before {
      width: 0px;
    }
    .header-area .main-nav .nav li.submenu ul.active {
      height: auto !important;
    }
    .header-area .main-nav .nav li.submenu:after {
      color: white;
      right: 25px;
      font-size: 14px;
      top: 15px;
    }
    .header-area .main-nav .nav li.submenu:hover ul,
    .header-area .main-nav .nav li.submenu:focus ul {
      height: 0px;
    }
  }
  
  @media (min-width: 992px) {
    .header-area .main-nav .nav {
      display: flex !important;
    }
  }
  
  
  a img {
    height: 10px;
  }
  
  /* Card */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 30px;
  }
  .card-img-top{
    width: 346px;
    height: 286px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
    border-radius: 30px;
  }
  @media (max-width: 760px) {
     .margin-top2 {
     margin-top: 20px  !important;
    }
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .cari {
    border: none;
    background-color: rgb(202, 201, 201);
    border-radius: 20px;
    padding: 10px;
    outline: none;
    width: 100px;
    height: 30px;
    min-width: 30px;
  }
  
  .cari::placeholder {
    color: #fff;
    width: 100px;
    opacity: 1;
  }
  .glass{
      color:black;
  }
  .glass:hover{
    transform: scale(1.1);
  
  }

  .pil{
    margin: auto;
  }
  .pilihan {
    
    border: 1px solid black;
     align-items: center;
    font-size: 13px;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    background-color: #ea5455;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .card-body{
    height: 188px;
    border-radius: 20px;
  }
  
  .desktop {
    color: black;
    font-size: 22px;
    font-weight: 600;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  .gambar-src {
    width: 100%;
    height: 100px;
    padding-right: 10px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 10px;
    border-radius: 10px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    /* make sure the image will not over the division */
    max-height:100%;
    max-width:100%;
    /* center the image */
    display:block;
    margin: auto;
  }
  
  .pil .pilihan {
    padding: 3px;
  }

  .text{
    text-align: center;
  }
  .artik p {
    font-size: 18px;
  
  }
  
  .akhir {
    margin-bottom: 36px;
  }
  
  /* Cari Artikel */
  .cari-artikel {
    margin-bottom: 50px;
  }
  
  .cari-artikel h3 {
    font-weight: 700;
  }
  
  .cek-sekarang {
    background-color: #ea5455;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    padding: 8px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    border: none;
  }

  
  /* Cari Artikel 2 */
  .cari-artikel-2 {
    margin-bottom: 50px;
    font-weight: 600;
  }
  
  .cari-artikel-2 img {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
  
  }
  .author{
   font-size: 5px;
   color: grey;
  }
  
  /* Cari Artikel 3 */
  .cari-artikel-3 {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    align-items: center;
  }
  

  /* 
  ---------------------------------------------
  footer
  --------------------------------------------- 
  */
  footer {
    background-color: #2d4059;
    padding: 40px 0px;
    color: #fff;
  }
  
  footer .social {
    overflow: hidden;
    text-align: right;
  }
  
  footer .social li {
    margin: 0px 5px;
    display: inline-block;
  }
  
  footer .social li a {
    color: #fff;
    text-align: center;
    background-color: #ea5455;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  footer .social li a:hover {
    background-color: #efd510;
    color: #fff;
  }
  
  footer .copyright {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    letter-spacing: 0.88px;
    text-transform: capitalize;
  }

  
  @media (max-width: 991px) {
    footer .copyright {
      text-align: center;
    }
    footer .social {
      text-align: center;
      margin-top: 15px;
    }
  }
  
  /* 
  ---------------------------------------------
  preloader
  --------------------------------------------- 
  */
  #preloader {
    overflow: hidden;
    background-image: linear-gradient(145deg, #ffc93c 0%, #efd510 100%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    z-index: 9999;
    color: #fff;
  }
  
  #preloader .jumper {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    position: absolute;
    margin: auto;
    width: 50px;
    height: 50px;
  }
  
  #preloader .jumper > div {
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    opacity: 0;
    width: 50px;
    height: 50px;
    -webkit-animation: jumper 1s 0s linear infinite;
    animation: jumper 1s 0s linear infinite;
  }
  
  #preloader .jumper > div:nth-child(2) {
    -webkit-animation-delay: 0.33333s;
    animation-delay: 0.33333s;
  }
  
  #preloader .jumper > div:nth-child(3) {
    -webkit-animation-delay: 0.66666s;
    animation-delay: 0.66666s;
  }
  
  @-webkit-keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 0;
    }
  }
  
  @keyframes jumper {
    0% {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    5% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  