@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background-color: #2d4059 !important;
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #efd510;
  color: #fff;
}

::-moz-selection {
  background: #efd510;
  color: #fff;
}

@media (max-width: 991px) {
  html,
  body {
    overflow-x: hidden;
  }
  .mobile-top-fix {
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

/* 
---------------------------------------------
Header
---------------------------------------------
 */

nav.bg-dark {
  background-color: #2d4059 !important;
  height: 65px !important;
}

button.user {
  width: 40px !important;
  padding-left: 4px;
  padding-bottom: 8px;
  border-radius: 50% !important;
  background-color: #2d4059 !important;
  border: none;
}

nav a.user:hover {
  background-color: #425e81;
}

.container {
  padding-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px 15px 0 0;
  background-color: #f0dc45;
}

/* Image */
.img img {
  border-radius: 50%;
  width: 10%;
  height: 10%;
}
