body {
  margin-top: 80px;
}

img {
  width: 100%;
}

.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 30px;
  color: #ffffff;
  background: #ea5455;
  text-transform: uppercase;
  border-radius: 10px;
}

a:hover {
  color: white;
  text-decoration: none;
}
